{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=DATABASE;Uid=USER;Pwd=PASSWORD;"
  },
  "Jwt": {
    "Key": "SECRET_KEY_IS_OVERRIDDEN_BY_ENV",
    "Issuer": "FluxMonitorApi",
    "Audience": "FluxMonitorFrontend"
  }
}